{% extends "base.html.twig" %}

{% block title %}Modifier une réponse{% endblock %}

{% block body %}

<h1>Modifier une reponse</h1>

<div class="form-inline m-2">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary m-2">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}