{% extends "base.html.twig" %}

{% block title %}Ajouter une question{% endblock %}

{% block body %}

<h1>Ajouter une question</h1>

<div class="form-inline m-2">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary m-2">Ajouter</button>
    {{ form_end(form) }}
</div>

{% endblock %}