{% extends 'base.html.twig' %}

{% block title %}&#192; propos{% endblock %}

{% block body %}

<div class="container-fluid">
    <div>
        <h1 class="text-green text-center">A propos</h1>
    </div>
    <div>
        <p>
            L'idée de départ du Morbol Quiz est de m'entrainer, tester quelques compétences en développement web et de ne pas perdre la main, notamment avec le framework Symfony. 
        </p>
        <p>
            J'ai donc souhaité créer un outil-support pour organiser plus facilement des soirées animées avec ma communauté de jeux en ligne avec qui je suis depuis plusieurs années.
        </p>
        <p>
            Ce site permet alors de créer et gérer le contenu de ses propres parties de Morbol Quiz afin de les partager avec ses amis. Il existe ainsi une partie "participants" dont l'affichage peut être partagé via une diffusion en streaming ou un logiciel de VoIP (par exemple Discord) et une partie "Maître du jeu" qui sert de fiches de présentation au créateur/animateur de la partie.
        </p>
        <p>
            La version actuelle du site est assez simple mais permet une utilisation qui correspond à mes attentes et usages de première version. Les prochaines mises à jour prévoient de nombreuses améliorations et, dans une optique v2.0 envisager le passage de la diffusion des parties directement via un lien de partie à partager tels des skribbl.io ou autres Gartic Phone !
        </p>
        <p>
            Le développement est constant, en fonction de mon temps libre à lui consacrer, et n'hésitez pas à faire part de vos remarques, vos appréciations et/ou vos idées pour améliorer le site via le <a href="{{ path('contact') }}" class="text-warning">formulaire de contact</a> !
        </p>
    </div>
    
</div>



{% endblock %}
