{% extends 'base.html.twig' %}

{% block title %}&#192; propos{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <p>&#192; propos... En construction</p>
    </div>
    
</div>



{% endblock %}
