{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <p>Contact...  En construction</p>
    </div>
    
</div>



{% endblock %}
