{% extends 'base.html.twig' %}

{% block title %}Morbol Quiz{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Morbol Quiz</h1>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis dicta debitis adipisci, doloremque obcaecati. Esse culpa ipsa pariatur quo ad quod, quas illum reiciendis neque corrupti eius impedit nobis? At omnis amet ducimus quisquam minus repellendus beatae quas repellat, neque nihil, aut optio doloremque excepturi blanditiis vitae magni eligendi temporibus nostrum quam nobis quia eos! Natus, provident recusandae dignissimos corrupti reiciendis quibusdam, molestiae culpa ipsam eos, soluta odio nemo? Eius doloremque labore ad vero suscipit officia minus deserunt ipsum cumque incidunt dolorum dolor animi quo, quam nemo culpa? Odio culpa, nulla aut iste officia quisquam minima sit tempora. Delectus.
</div>
{% endblock %}
