{% extends 'base.html.twig' %}

{% block title %}Morbol Quiz{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <p class="font-dimbo mt-5 p-3">
                Le Morbol Quiz est un projet personnel, à but non commercial et récréatif afin de s'entrainer et tester quelques compétences en développement web, mais aussi à s'amuser entre amis.
            </p>
            <a href="{{ path('rules') }}" class="btn btn-green ml-3" role="button">Consulter les règles du jeu</a>
        </div>
        <div class="col-12 col-lg-8 logo-index position-static float-right">
            <h2 class="display-1 text-green text-start">
                Morbol
            </h2>
            <h2 class="display-1 text-start ml-5">
                <span class="text-danger font-horse m-0">Q</span><span class="text-warning font-horse">u</span><span class="text-danger font-horse">i</span><span class="text-warning font-horse">z</span>
            </h2>
        </div>
    </div>
    
</div>



{% endblock %}
