{% extends 'base.html.twig' %}

{% block title %}Patch notes{% endblock %}

{% block body %}

<div class="container-fluid">
    
        <h1>Patch notes</h1>

        <h5>16.11.2020</h5>
        <ul>
            <li>Mise à jour de la couleur du fond pour plus de confort</li>
            <li>
                Mises à jour à venir :
                <ul>
                    <li>Mot de passe oublié</li>
                    <li>Amélioration des formulaires d'ajout de question avec ajout des réponses intégrées</li>
                    <li>Pages "&#192; propos" et "Plan du site"</li>
                </ul>
            </li>
        </ul>
        <h5>01.10.2020</h5>
        <ul>
            <li>Page contact fonctionnel</li>
            <li>
                Mises à jour à venir :
                <ul>
                    <li>Pages "&#192; propos" et "Plan du site"</li>
                </ul>
            </li>
        </ul>
        <h5>30.09.2020</h5>
        <ul>
            <li>Correction de bugs lors de la selection des menus</li>
            <li>Mise à jour des accents lors de la création des menus</li>
            <li>Javascript ajouté pour la présentation des questions des menus</li>
            <li>
                Mises à jour à venir :
                <ul>
                    <li>Pages "&#192; propos" et "Contact"</li>
                </ul>
            </li>
        </ul>

        <h5>29.09.2020</h5>
        <ul>
            <li>Mise en service de la version 0.01</li>
            <li>
                Mises à jour à venir :
                <ul>
                    <li>Pages "&#192; propos" et "Contact"</li>
                </ul>
            </li>
        </ul>
    
    
</div>



{% endblock %}
