@font-face {
    font-family: "Dimbo";
    src: url('../fonts/DimboRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DimboRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/DimboRegular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../fonts/DimboRegular.woff2') format('woff2'), /* Super modern browsers */
        url('../fonts/DimboRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/DimboRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: "Dimbo";
    src: url('../fonts/DimboItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DimboItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/DimboItalic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../fonts/DimboItalic.woff2') format('woff2'), /* Super modern browsers */
        url('../fonts/DimboItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/DimboItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-style: italic;
}
@font-face {
    font-family: "Horseshoes";
    src: url('../fonts/HorseshoesAndLemonade.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HorseshoesAndLemonade.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/HorseshoesAndLemonade.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../fonts/HorseshoesAndLemonade.woff2') format('woff2'), /* Super modern browsers */
        url('../fonts/HorseshoesAndLemonade.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/HorseshoesAndLemonade.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    font-family: 'Dimbo', sans-serif;
    color: ivory;
}

html {
    overflow-y: scroll;
    background: black !important;
    font-size: 1.5rem;
}

body, .content-wrapper, aside, .content-header::before, .content-header::after, .content-header {
    background: black !important;
}

.logo {
    font-family: 'Horseshoes', sans-serif;
    color: green !important;
    font-weight: normal;
    font-size: 3em;
}

ul {
    background: black;
    color: ivory;
}

i {
    padding: 0.2em;
    color: ivory !important;
}

.title, .datagrid thead a, .datagrid thead span, .form-group label {
    color: ivory;
}

th {
    background: rgb(50, 50, 50) !important;
}

.datagrid tbody tr:hover td, .datagrid tbody tr:hover th {
    background: rgb(50, 50, 50) !important;
}

tbody, .list-pagination, .content-panel-body.without-padding, .content-panel-body.without-footer {
    background: rgb(77, 77, 77) !important;
}

.content-header {
    color: ivory;
    padding-left: 1em;
    padding-right: 1em;
}

.content-panel {
    border: grey solid 2px !important;
}

.resizer-handler-left {
    color: ivory;
}

.btn-secondary {
    background: grey;
    color: ivory;
    border-radius: 5px;
}    

.btn-primary {
    border-radius: 5px;
    background: green;
}

a {
    color: #8193eb;
}

.action-edit {
    color: #fcc257;
}

.popover-body, .popover {
    background: rgb(77, 77, 77) !important;  
    border: ivory solid 1px;
    border-radius: 5px;
}