@font-face {
    font-family: "Dimbo";
    src: url('../fonts/DimboRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DimboRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/DimboRegular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../fonts/DimboRegular.woff2') format('woff2'), /* Super modern browsers */
        url('../fonts/DimboRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/DimboRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: "Dimbo";
    src: url('../fonts/DimboItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DimboItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/DimboItalic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../fonts/DimboItalic.woff2') format('woff2'), /* Super modern browsers */
        url('../fonts/DimboItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/DimboItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-style: italic;
}
@font-face {
    font-family: "Horseshoes";
    src: url('../fonts/HorseshoesAndLemonade.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HorseshoesAndLemonade.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/HorseshoesAndLemonade.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../fonts/HorseshoesAndLemonade.woff2') format('woff2'), /* Super modern browsers */
        url('../fonts/HorseshoesAndLemonade.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/HorseshoesAndLemonade.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    font-family: 'Dimbo', sans-serif;
    color: ivory;
}

html {
    overflow-y: scroll;
    background: black;
    font-size: 1.5rem;
}

body, ul {
    background: black;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.logo-index {
    background-image: url(../images/morbol.png);
    background-repeat: no-repeat;
    background-position: right;
    min-height: 427px;
}

h1, h2, .nav-link {
    font-family: 'Horseshoes', sans-serif;
    color: ivory;
}

.alpha {
    list-style: upper-alpha;
}

input {
    background: rgb(70, 70, 70) !important;
    color: ivory !important;
}

.font-horse {
    font-family: 'Horseshoes', sans-serif;
}

.font-dimbo {
    font-family: 'Dimbo', sans-serif;
}

.text-ivory {
    color: ivory !important;
}

.font-horse:hover {
    text-decoration: none;
    color: green;
}

.text-green {
    color: green;
}

.nav-item a:hover {
    color: green;
    border: none;
}

.nav-tabs .nav-link.active {
    background: green;
    border-color: green;
    color: ivory;
}

.nav-tabs {
    border-color: green;
}

i a:hover {
    text-decoration: none;
}

.list-group, .list-group-item, .list-group-flush {
    background: black;
}

.answer {
    padding: 0em 1em;
    font-size: 0.8em;
}

.question {
    padding: 0em 1em 1em 1em;
}

.icon-q {
    padding: 0em 0em 0.6em 0em;
}

.icon-a {
    padding: 0em 0em 1em 0em;
    font-size: 0.8em;
}

.icon-s {
    font-size: 1.5em;
}

.sticky-top {
    z-index: 5;
}

.sticky-top-2 {
    top: 2.5em;
    background: black;
    z-index: 3;
}

.big-height {
    min-height: 100%;
}

.centering {
    top: 50em;
}

#answer_isCorrect_0, #answer_isCorrect_1 {
    transform: scale(1.5);
    margin-top: 0.5em;
}

.form-check {
    align-content: center;
}