<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="example-wrapper">
            <h1 class="h1"><a href="{{ path('index') }}">Morbol Quiz</a></h1>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>{% endblock %}
    </body>
</html>
